a {
    color: black;
}
td {
    background: #fff;
    border: none;
    /*border-right: 1px solid #c8c7c7;*/
    /*border-bottom: 1px solid #c8c7c7;*/
}
table {
    border: none;
}
#header-content {
    float: right;
    margin-right: 100px;
    margin-top: 30px;
    font-size: 20px;
}
.content a img {
    background: none;
}
#logo {
    margin: 0px;
}
.view-list-of-works .field-name-field-work-images {
    float: left;
}
.view-list-of-works .views-row {
    clear: left;
    min-height: 200px;
    border-bottom: 2px solid black;
    padding-top: 10px;
}
.view-list-of-works .views-field-title, .view-list-of-works .field-name-body {
    padding: 10px 0px 0px 240px;
}
.view-view-taxonomy-list-works {
    font-size: 15px;
    font-weight: 700;
}
.view-view-taxonomy-list-works .field-name-field-voc-work-image {
    float: left;
}
.view-view-taxonomy-list-works .views-row {
    clear: left;
    min-height: 70px;
    border-bottom: 2px solid black;
    padding-top: 5px;
    margin-right: 20px;
}
.view-view-taxonomy-list-works .views-field-name {
    padding-top: 20px;
}
.view-view-taxonomy-list-works .views-field-name span {
    padding-left: 10px;
}
.page-home #content {
    padding-top: 25px;
}